<div id="discount-view">
  <ul>
    <li>ID: <%= @discount.id %></li>
    <li>Quantity Required: <%= @discount.quantity %></li>
    <li>Discount Type: <%= @discount.discount_type %></li>
    <li>Discount Amount: <%= @discount.discount_str %></li>
  </ul>
</div>
